/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 1201px) and (max-width: 1350px) {
  html {
    font-size: 45%;
  }

  .reportbox {
    gap: 1rem;
  }

  .brandsTable table {
    table-layout: auto;
  }

  .projecttable table tr td ul {
    margin-left: -6rem;
  }

  .startinput input {
    width: 28rem;
  }

  .chart-right {
    padding-bottom: 16.2rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 45%;
  }

  .leftpart {
    width: 36rem;
    background-color: #fff;
    min-height: 100vh;
    padding: 4.8rem 3rem 4.5rem 2.5rem;
  }

  .reportbox {
    grid-template-columns: repeat(2, 1fr);
  }

  .toltip #tooltiptext {
    left: inherit;
    right: 15rem;
  }

  .brandsTable {
    padding: 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .brandsTable table {
    table-layout: inherit;
  }

  .postbackstable table tr th,
  .postbackstable table tr td {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .projecttable {
    padding: 2rem 1.5rem 3rem 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #marketsta h2 {
    font-size: 2rem;
    font-weight: 600 !important;
    color: #495057;
    margin-top: 3rem;
  }

  .projecttable table {
    table-layout: inherit;
  }

  .projecttable table tr th,
  .projecttable table tr td {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projecttable table tr td ul {
    margin-left: 0;
  }

  .startinput input {
    width: 22rem;
  }

  .stablink ul li a {
    display: inline-block;
    width: 14rem;
  }

  .chart-right {
    padding-bottom: 8rem;
  }

  .addbrandinput {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .payment-select {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 3rem;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 60%;
  }

  .leftpart {
    width: 32rem;
    position: fixed;
    z-index: 999;
    left: -100%;
    padding: 3.2rem 2.2rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
  }

  .mobile_logo img {
    display: block;
    width: 3.5rem;
  }

  .right_header {
    padding: 1.4rem 1.5rem;
  }

  .mbar button {
    top: 0.8rem !important;
    margin-left: 2rem;
  }

  .rightpart_others {
    gap: 1rem;
  }

  .profile {
    margin-left: 1rem;
  }

  .notificationdrp {
    width: 30rem;
  }

  .openmenu {
    left: 0%;
  }

  .reportbox {
    grid-template-columns: repeat(2, 1fr);
  }

  .markettable .nav-link {
    padding: 1.5rem 0.5rem;
  }

  .tableContentAll table tr th,
  .tableContentAll table tr td {
    font-size: 1.4rem;
  }

  .brandtable table tr th,
  .brandtable table tr td {
    font-size: 1.4rem;
  }

  .toltip #tooltiptext {
    left: 88%;
  }

  .toltip #tooltiptext::after {
    left: -0.7rem;
    top: 0.9rem;
    transform: scale(-1);
  }

  #project {
    margin-top: 3rem;
    padding: 0rem 1.5rem;
    padding-bottom: 5rem;
  }

  .project-name h2,
  .brands h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #495057;
  }

  .brands a {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    transition: all 0.2s ease;
  }

  .brandsTable {
    padding: 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .brandsTable table {
    table-layout: inherit;
  }

  .brandsTable table tr th,
  .brandsTable table tr td {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .brandtip {
    left: calc(100% + 2rem);
  }

  .brandtip::after {
    left: -1rem;
    transform: scale(-1);
  }

  .brandtip {
    width: 14rem;
    height: 6rem;
    right: calc(100% + 2rem);
    top: -1.8rem;
    display: none;
  }

  .brandtip img {
    width: 10rem;
  }

  .postbackstable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .postbackstable table tr th,
  .postbackstable table tr td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .projecttable {
    padding: 2rem 1.5rem 3rem 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #marketsta h2 {
    font-size: 2rem;
    font-weight: 600 !important;
    color: #495057;
    margin-top: 3rem;
  }

  .projecttable table {
    table-layout: inherit;
  }

  .projecttable table tr th,
  .projecttable table tr td {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projecttable table tr td ul {
    margin-left: 0;
  }

  .stablink {
    padding-left: 0;
    margin-top: 2rem;
  }

  .chart-right {
    margin-left: 0;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }

  .addbrandinput {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  .multi {
    column-gap: 2rem;
  }

  .payment-select {
    grid-template-columns: repeat(4, 1fr);
  }

  .paymentmethod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 60%;
  }

  .leftpart {
    width: 32rem;
    position: fixed;
    z-index: 999;
    left: -100%;
    padding: 3.2rem 2.2rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
  }

  .mobile_logo img {
    display: block;
    width: 3.5rem;
  }

  .right_header {
    padding: 1.4rem 1.5rem;
  }

  .mbar button {
    top: 0.8rem !important;
    margin-left: 2rem;
  }

  .rightpart_others {
    gap: 1rem;
  }

  .profile {
    margin-left: 1rem;
  }

  .notificationdrp {
    width: 30rem;
  }

  .openmenu {
    left: 0%;
  }

  .report-heading h2 {
    font-size: 2rem;
  }

  .report-heading a {
    font-size: 1.4rem;
  }

  .reportone {
    margin-top: 2rem;
  }

  .reportbox {
    display: block;
  }

  #marketsta {
    padding: 0rem 1.5rem;
  }

  .nav-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .markettable .nav-link {
    white-space: nowrap;
  }

  .tableContentAll,
  .brandtable {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .tableContentAll table tr td span#con {
    margin-right: 25px;
  }

  #barndsta {
    margin-top: 4rem;
    padding: 0rem 1.5rem;
    padding-bottom: 3rem;
  }

  .brandtable table tr td,
  .brandtable table tr th {
    padding-right: 15px;
    padding-left: 15px;
  }

  .brandtable table tr td span {
    left: 1rem;
  }

  #report {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .toltip #tooltiptext {
    left: 88%;
  }

  .toltip #tooltiptext::after {
    left: -0.7rem;
    top: 0.9rem;
    transform: scale(-1);
  }

  #project {
    margin-top: 3rem;
    padding: 0rem 1.5rem;
    padding-bottom: 5rem;
  }

  .project-name h2,
  .brands h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #495057;
  }

  .brands a {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    transition: all 0.2s ease;
  }

  .brandsTable {
    padding: 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .brandsTable table {
    table-layout: inherit;
  }

  .brandsTable table tr th,
  .brandsTable table tr td {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .brandtip {
    left: calc(100% + 2rem);
  }

  .brandtip::after {
    left: -1rem;
    transform: scale(-1);
  }

  .brandtip {
    width: 14rem;
    height: 6rem;
    right: calc(100% + 2rem);
    top: -1.8rem;
    display: none;
  }

  .brandtip img {
    width: 10rem;
  }

  .postbackstable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .postbackstable table tr th,
  .postbackstable table tr td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .projecttable {
    padding: 2rem 1.5rem 3rem 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #marketsta h2 {
    font-size: 2rem;
    font-weight: 600 !important;
    color: #495057;
    margin-top: 3rem;
  }

  .projecttable table {
    table-layout: inherit;
  }

  .projecttable table tr th,
  .projecttable table tr td {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projecttable table tr td ul {
    margin-left: 0;
  }

  .stablockdate,
  .sta-chart-heading {
    display: block !important;
  }

  .startinput input {
    width: 100%;
  }

  .stablink {
    padding-left: 0rem;
    margin-top: 1.5rem;
  }

  .stablink ul li a {
    display: inline-block;
    width: 9.5rem;
  }

  .sta-chart-select {
    margin-top: 1.5rem;
  }

  .sta-chart-ftd {
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0;
  }

  .sta-chart-one p {
    display: block;
  }

  .chart-right {
    margin-top: 2rem;
    margin-left: 0rem;
    padding-bottom: 3rem;
  }

  .addbrands {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .addbrandinput {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0rem;
  }
  .addbrandinputbox {
    padding-bottom: 2rem;
  }

  .multi {
    display: block !important;
  }

  .payment-select {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .paymentbtn {
    margin-top: 3rem;
  }

  .paymentbtn a.plinkTwo {
    padding: 0.8rem 5rem;
  }

  .paymentmethod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .leftpart {
    width: 32rem;
    position: fixed;
    z-index: 999;
    left: -100%;
    padding: 3.2rem 2.2rem;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
  }

  .mobile_logo img {
    display: block;
    width: 3.5rem;
  }

  .right_header {
    padding: 1.4rem 1.5rem;
  }

  .mbar button {
    top: 0.8rem !important;
    margin-left: 2rem;
  }

  .rightpart_others {
    gap: 1rem;
  }

  .profile {
    margin-left: 1rem;
  }

  .notificationdrp {
    width: 30rem;
  }

  .openmenu {
    left: 0%;
  }

  #report {
    margin-top: 2rem;
    padding: 0rem 1.5rem;
  }

  .report-heading h2 {
    font-size: 2rem;
  }

  .report-heading a {
    font-size: 1.4rem;
  }

  .reportone {
    margin-top: 2rem;
  }

  .reportbox {
    display: block;
  }

  #marketsta {
    padding: 0rem 1.5rem;
  }

  .nav-tabs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .markettable .nav-link {
    white-space: nowrap;
  }

  .tableContentAll,
  .brandtable {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .tableContentAll table tr td span#con {
    margin-right: 25px;
  }

  #barndsta {
    margin-top: 4rem;
    padding: 0rem 1.5rem;
    padding-bottom: 3rem;
  }

  .brandtable table tr td,
  .brandtable table tr th {
    padding-right: 15px;
    padding-left: 15px;
  }

  .brandtable table tr td span {
    left: 1rem;
  }

  .toltip #tooltiptext {
    left: 88%;
  }

  .toltip #tooltiptext::after {
    left: -0.7rem;
    top: 0.9rem;
    transform: scale(-1);
  }

  #project {
    margin-top: 3rem;
    padding: 0rem 1.5rem;
    padding-bottom: 2rem;
  }

  .project-name h2,
  .brands h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #495057;
  }

  .brands a {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    transition: all 0.2s ease;
  }

  .brandsTable {
    padding: 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .brandsTable table {
    table-layout: inherit;
  }

  .brandsTable table tr th,
  .brandsTable table tr td {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .brandtip {
    left: calc(100% + 2rem);
  }

  .brandtip::after {
    left: -1rem;
    transform: scale(-1);
  }

  .brandtip {
    width: 14rem;
    height: 6rem;
    right: calc(100% + 2rem);
    top: -1.8rem;
    display: none;
  }

  .brandtip img {
    width: 10rem;
  }

  .postbackstable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .postbackstable table tr th,
  .postbackstable table tr td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .projecttable {
    padding: 2rem 1.5rem 3rem 1.5rem;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  #marketsta h2 {
    font-size: 2rem;
    font-weight: 600 !important;
    color: #495057;
    margin-top: 3rem;
  }

  .projecttable table {
    table-layout: inherit;
  }

  .projecttable table tr th,
  .projecttable table tr td {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projecttable table tr td ul {
    margin-left: 0;
  }

  .stablockdate,
  .sta-chart-heading {
    display: block !important;
  }

  .startinput input {
    width: 100%;
  }

  .stablink {
    padding-left: 0rem;
    margin-top: 1.5rem;
  }

  .stablink ul li a {
    display: inline-block;
    width: 9.5rem;
  }

  .sta-chart-select {
    margin-top: 1.5rem;
  }

  .sta-chart-ftd {
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 0;
  }

  .sta-chart-one p {
    display: block;
  }

  .chart-right {
    margin-top: 2rem;
    margin-left: 0rem;
    padding-bottom: 3rem;
  }

  .addbrands {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .addbrandinput {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0rem;
  }
  .addbrandinputbox {
    padding-bottom: 2rem;
  }

  .multi {
    display: block !important;
  }

  .payment-select {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .paymentbtn {
    margin-top: 3rem;
  }

  .paymentbtn a.plinkTwo {
    padding: 0.8rem 5rem;
  }

  .paymentmethod {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
